<div class="flex md:flex-row flex-col gap-8">
  <div class="basis-full md:basis-1/2 md:order-first">
    <form [formGroup]="checkoutForm">
      <div hlmFieldGroup>
        <fieldset hlmFieldSet>
          <legend hlmFieldLegend>Customer Details</legend>
          <div hlmFieldGroup>
            <div hlmField>
              <label hlmFieldLabel for="checkout-name">Name</label>
              <input hlmInput id="checkout-name" formControlName="name" />
            </div>
            <div hlmField>
              <label hlmFieldLabel for="checkout-tel-number">Telemóvel*</label>
              <div class="flex gap-4">
                <app-select-input
                  id="checkout-country-code"
                  formControlName="countryCode"
                  [options]="countryCodes"
                />
                <input hlmInput id="checkout-tel-number" formControlName="telNumber" />
              </div>
            </div>
            <div hlmField>
              <label hlmFieldLabel for="checkout-email">Email</label>
              <input hlmInput id="checkout-email" type="email" formControlName="email" />
            </div>

            <app-accordion-input>
              <p accordionHeader hlmFieldLabel for="checkout-cupom">
                Adicionar dados de Faturação?
              </p>
              <div accordionContent class="flex flex-col gap-4 pt-4">
                <div hlmField>
                  <label hlmFieldLabel for="checkout-address">Address</label>
                  <input hlmInput id="checkout-address" formControlName="address" />
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="checkout-address-number">Address Number</label>
                  <input hlmInput id="checkout-address-number" formControlName="addressNumber" />
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="checkout-city">City</label>
                  <input hlmInput id="checkout-city" formControlName="city" />
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="checkout-country">Country</label>
                  <input hlmInput id="checkout-country" formControlName="country" />
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="checkout-zipcode">Zipcode</label>
                  <input hlmInput id="checkout-zipcode" formControlName="zipcode" />
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="checkout-address-complement">Address Complement</label>
                  <input
                    hlmInput
                    id="checkout-address-complement"
                    formControlName="addressComplement"
                  />
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="checkout-vat-number">VAT Number</label>
                  <input hlmInput id="checkout-vat-number" formControlName="vatNumber" />
                </div>
              </div>
            </app-accordion-input>
          </div>
        </fieldset>

        <fieldset hlmFieldSet>
          <legend hlmFieldLegend data-variant="legend">Payment</legend>
          <div hlmFieldGroup>
            <div hlmField>
              <label hlmFieldLabel for="checkout-payment-mbway">Payment Type</label>
              <app-radio-input
                name="paymentType"
                formControlName="paymentType"
                [options]="paymentTypes"
                [itemClass]="radioCardClass"
              />
            </div>

            <app-accordion-input [isOpened]="true">
              <p accordionHeader hlmFieldLabel for="checkout-onlinecode">
                Tem um código de desconto?
              </p>
              <div accordionContent class="flex flex-col pt-4 gap-2">
                <div class="flex items-center gap-4">
                  <div hlmField>
                    <input hlmInput id="checkout-onlinecode" formControlName="onlinecode" />
                  </div>
                  <button
                    hlmBtn
                    class="rounded-full"
                    size="lg"
                    [disabled]="!checkoutForm.controls['onlinecode'].value"
                  >
                    Aplicar
                  </button>
                </div>
                <p hlmFieldDescription>Exemplo de códigos: BEMVINDO10, VIP20, PROMO15</p>
              </div>
            </app-accordion-input>

            <app-checkbox-input
              id="checkout-tac"
              formControlName="hasAcceptedTaC"
              label="I accept the terms and conditions"
            />

            <app-checkbox-input
              id="checkout-newsletter"
              formControlName="hasAcceptedNewsLetter"
              label="Quero receber informações de news letters"
            />
          </div>
        </fieldset>
      </div>
    </form>
  </div>
  <div class="cart-details basis-full md:basis-1/2 order-first relative">
    <app-cart-details class="sticky top-17" [cart]="cart()" />
  </div>
</div>
