<section class="w-full border-gray-200 py-5 gap-3" hlmCard>
  <div hlmCardHeader class="px-4">
    <div hlmCardTitle class="flex items-center gap-2">
      <h3>{{ name }}</h3>
      @if (remainingTickets > 0 && remainingTickets < 50) {
        <span hlmBadge class="dark:text-bg-red-300 bg-red-50 text-red-700 dark:bg-red-950"
          >A esgotar</span
        >
      }
    </div>
    @if (description) {
      <p hlmCardDescription>
        {{ description }}
      </p>
    }
  </div>

  <div
    hlmCardFooter
    class="flex gap-2 justify-between items-center [.border-t]:pt-3 border-t border-gray-200 px-4"
  >
    <span> {{ price | currency: 'EUR' : 'symbol-narrow' }} </span>
    <app-amount-selector
      [formControl]="amountControl"
      [maxSelection]="maxSelection"
      [minSelection]="0"
    />
  </div>
</section>
