<section class="w-full" hlmCard>
  <div hlmCardHeader>
    <div hlmCardTitle class="flex items-center gap-2">
      <h3>{{ name }}</h3>
      @if (remainingTickets > 0 && remainingTickets < 50) {
        <span hlmBadge class="dark:text-bg-red-300 bg-red-50 text-red-700 dark:bg-red-950"
          >A esgotar</span
        >
      }
    </div>
    @if (description) {
      <p hlmCardDescription>
        {{ description }}
      </p>
    }
  </div>

  <div hlmCardFooter class="flex gap-2 justify-between items-center border-t">
    <span> {{ price | currency: 'EUR' : 'symbol-narrow' }} </span>
    <div class="flex items-center gap-2">
      <button
        hlmBtn
        size="icon"
        variant="outline"
        class="rounded-full"
        (click)="onRemove()"
        [disabled]="selected <= 0"
      >
        -
      </button>
      <span>{{ selected }}</span>
      <button
        hlmBtn
        size="icon"
        type="button"
        class="rounded-full"
        (click)="onAdd()"
        [disabled]="maxSelection > 0 && selected >= maxSelection"
      >
        +
      </button>
    </div>
  </div>
</section>
