<div class="flex flex-col items-start gap-3">
  <app-cover-image [coverSrc]="event.eventTypefilename" [altName]="event.name" />

  <p class="text-sm flex items-center gap-2">
    <ng-icon hlm size="sm" name="lucideCalendar" class="text-muted-foreground" />
    <time [attr.datetime]="event.eventTime">
      {{ event.eventTime | eventDate: 'short' }}
    </time>
  </p>
  <p class="text-sm flex items-center gap-2">
    <ng-icon hlm size="sm" name="lucideMapPin" class="text-muted-foreground" />
    {{ event.places![0]?.placeName }}
  </p>
  <p class="text-sm text-muted-foreground">
    {{ event.description }}

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis odio massa. Nulla
    lobortis ac est a sollicitudin. Pellentesque condimentum, ex non posuere congue, eros diam
    pretium ante, sed viverra lacus arcu eu velit. Nunc pellentesque posuere aliquet. Vestibulum
    pharetra, metus sed scelerisque viverra, magna elit vulputate nulla, congue pretium velit enim
    id ligula. Vivamus a malesuada massa.
  </p>
</div>
